#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>


#define BASE 0
#define NUM 1
#define NAV 2
#define SYM 3
#define FUNC 4
#define GAMING 5
#define BT 6

&lt {
    tapping-term-ms = <120>;
    flavor = "balanced";
};

&mt {
    tapping-term-ms = <120>;
    flavor = "balanced";
};



/ {
    combos {
        compatible = "zmk,combos";
        combo_q {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp Q>;
        };
        combo_enter {
            timeout-ms = <50>;
            key-positions = <13 14>;
            bindings = <&kp ENTER>;
        };
        combo_ae {
            timeout-ms = <50>;
            key-positions = <2 11>;
            bindings = <&kp RA(Q)>;
        };
        combo_oe {
            timeout-ms = <50>;
            key-positions = <2 13>;
            bindings = <&kp RA(P)>;
        };
        combo_ue {
            timeout-ms = <50>;
            key-positions = <7 16>;
            bindings = <&kp RA(Y)>;
        };
        combo_ss {
            timeout-ms = <50>;
            key-positions = <7 18>;
            bindings = <&kp RA(S)>;
        };
        combo_quot {
            timeout-ms = <50>;
            key-positions = <6 7>;
            bindings = <&kp SQT>;
        };
        combo_dot {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp DOT>;
        };
        combo_ctrl {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&sk LCTRL>;
        };
        combo_alt{
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&sk LALT>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
                &mt LS(LALT) ESC   &lt FUNC W    &kp F      &kp P      &kp B     &kp J &kp L      &kp U     &mt LGUI Y    &lt BT SEMI
                &kp A              &mt LGUI R    &lt NUM S  &lt SYM T  &kp G     &kp M &lt NAV N &kp E     &kp I         &kp O
                &sk LSHFT          &mt LCTRL X   &kp C      &kp D      &kp V     &kp K &kp H      &kp COMMA &kp Z         &kp RSHFT 
                                   &kp LALT         &lt NAV SPACE   &kp BACKSPACE       &kp RALT
            >;
        };

        NUM {
            bindings = <
                &kp GRAVE          &kp MINUS  &trans     &trans        &trans         &trans       &kp N7      &kp N8     &kp N9    &trans
                &kp EQUAL          &kp PLUS   &trans     &kp FSLH      &kp BSLH       &kp TILDE    &kp N4      &kp N5     &kp N6    &trans
                &kp LSHFT          &kp COLON  &trans     &kp LPAR      &kp RPAR       &kp N0       &kp N1      &kp N2     &kp N3    &trans 
                                                         &trans         &trans     &trans       &kp RET
            >;
        };

        SYM {
            bindings = <
                &trans &trans &trans &trans &trans &trans &kp LS(N7) &kp LS(N8) &kp SEMI   &trans
                &trans &trans &kp UNDER &trans &trans &trans &kp LS(N4) &kp LS(N5) &kp LS(N6) &trans
                &trans &trans &trans &trans &trans &kp QMARK &kp LS(N1) &kp LS(N2) &kp LS(N3) &trans
                                   &trans         &trans     &trans       &trans
            >;
        };

        NAV {
            bindings = <
                &trans  &kp ESC  &kp UP   &kp LALT  &trans  &trans &trans &trans &trans &trans 
                &kp TAB &kp LEFT &kp DOWN &kp RIGHT &trans  &trans &trans &trans &trans &trans
                &trans  &trans   &trans   &kp DEL   &kp INS &trans &trans &trans &trans &tog GAMING 
                                   &trans         &trans     &trans       &trans
            >;
        };

        FUNC {
            bindings = <
                &trans &trans &trans &kp LBKT &kp RBKT    &kp F12 &kp F7 &kp F8 &kp F9 &bootloader 
                &trans &trans &trans &kp LT &kp GT        &kp F11 &kp F4 &kp F5 &kp F6 &trans
                &trans &trans &trans &trans &trans        &kp F10 &kp F1 &kp F2 &kp F3 &trans
                                   &trans         &trans     &trans       &trans
            >;
        };
        GAMING {
            bindings = <
                &kp ESC  &kp Q  &kp W   &kp E  &kp R    &trans &trans &trans &trans &trans 
                &kp LCTRL &kp A &kp S   &kp D  &kp F       &trans &trans &trans &trans &trans
                &kp LSHFT  &kp X   &kp C      &kp V  &kp B    &trans &trans &trans &trans &tog GAMING 
                                   &trans         &kp SPACE     &lt BASE BACKSPACE       &kp TAB
            >;
        };
        BT {
            bindings = <
                  &trans &trans &trans &trans &trans  &trans  &trans &trans &trans &trans
                  &trans &trans &trans &trans &trans  &trans &trans &trans &trans &trans
                  &bt BT_CLR &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1 &bt BT_SEL 0  &trans &trans &trans &trans &trans
                                   &trans         &trans     &trans       &trans
            >;
        };

    };
};
